*{
    margin: 0px;
    padding: 0px;
}
body{
    background: #222;
}
.card{
    background: linear-gradient(135deg ,#1E90FF, #4682B4);
    width: 90%;
    max-width: 370px;
    color:  #F5F5F5;
    margin: 30px auto 0;
    padding: 20px 30px;
    text-align: center;
    border-radius: 20px;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    height: 50px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    padding: 0px 10px;
    background: #ebfffc;
    color: #555;
    flex: 1;
}
.search button{
    border-radius: 50%;
    padding: 10px;
    background: #ebfffc;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
    margin-left: 10px;
}
.search button img{
    width: 16px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0px 20px;
}
.details img{
    width: 40px;
    margin: 5px;
}
span{
    margin-left: 5px;
}
.weather h1{
    font-size: 72px;
}
.weather h2{
    font-size: 50px;
}